.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #ffff;
}

.phrase {
  margin: 0;
  width: 42rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(225deg, #ff8a00 0%, #8000ff 100%);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.222);
  border-radius: 5px;
  border-top: 40px solid #2f0e31;
}

.title {
  font-family: "Mogra", cursive;
  font-size: 18px;
  display: flex;
  margin: 0 0 15px 0;
  padding: 0.8rem 0 0.5rem 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #2f0e31;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.text {
  margin: 1rem;
  font-family: Roboto;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: center;
}

.author_phrase{
    margin: 0 0 1rem 0;
}

.row{
  padding-top: 10px;
  display: flex;
}

.card{
  background: linear-gradient(225deg, #92734F 0%, #8000FF 100%);  
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.222);
  border-radius: 3px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 16rem;
  border-top: 40px solid #2f0e31;
}

.phrase:hover{
  box-shadow: 9px 9px 8px rgba(0, 0, 0, 0.273);
  transition: box-shadow .3s ease-in-out;
  cursor: pointer;
}

.card:hover{
  box-shadow: 9px 9px 8px rgba(0, 0, 0, 0.271);
  transition: box-shadow .3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 840px) {
  .row {
    flex-direction: column;
  }
  .phrase{
    width: 30rem;
  }
  .card{
    width: 30rem;
  }
  
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .phrase{
    width: 20rem;
  }
  .card{
    width: 20rem;
  }
  
}