.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.phrase {
  color: #ffff;
  margin: 0;
  width: 38rem;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #A970FF;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.222);
  border-radius: 5px;
  border-top: 45px solid #612BB3;
}

.text {
  margin: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: center;
}

.author_phrase{
    margin: 0 0 1rem 0;
}

.row{
  padding-top: 10px;
  display: flex;
}

.card{
  background: #FFFA70;  
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.222);
  border-radius: 3px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 16rem;
  border-top: 40px solid #BDB940;
}

.card:hover{
  box-shadow: 9px 9px 8px rgba(0, 0, 0, 0.271);
  transition: box-shadow .3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 840px) {
  .row {
    flex-direction: column;
  }
  .phrase{
    width: 30rem;
  }
  .card{
    width: 30rem;
  }
  
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .phrase{
    width: 20rem;
  }
  .card{
    width: 20rem;
  }
  
}