.footer {
    display: flex;
    flex: 1;
    padding: 1rem 0;
    align-items: flex-end;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }