@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&display=swap");

.container {
  background-color: #3f3c3c;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 1rem;
  width: 15rem;
  color: #ffff;
  height: 150vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}

.item_logo {
  margin: 0 0.3rem 0 0.3rem;
  font-family: "Mogra", cursive;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.title_item {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
}

.item {
  font-size: 15px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffff;
}

.item:hover {
  background: linear-gradient(224.53deg, #ff8a00 0%, #8000ff 99.2%);
  box-shadow: -1px 1px 8px rgba(128, 0, 255, 0.578726);
  border-radius: 4px;
}

@media (max-width: 840px) {
  .container{ 
    height: 150vh;
  }
}