.container{
    display: flex;
    background-color: #F2F2F2;
    border: 5px solid red;
  }
  
.grid{
    display: flex;
    align-content: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 5px solid blue;
    padding: 2px;
}

.row{
    display: flex;
    border: 5px solid orange;
    margin: 10px;
}

.card{
    border: 5px solid purple;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.title{
    border: 5px solid purple;
}

.text{
    border: 5px solid purple;
}

.author{
    border: 5px solid purple;
}